<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer clearfix mb-0 text-muted" >
        <div class="float-start">
            <p>2022 &copy; Dilya&Qarlygash</p>
        </div>
        <div class="float-end">
            <p>Zhasagandar:<span class='text-danger'><i data-feather="heart"></i></span> <a> Dilya&Qarlygash</a></p>
        </div>
    </div>
</footer>

</body>
</html>